<div class="container products_slider py-5 my-5">
  <div class="row">
    <div class="col text-center">
      <h2 class="category_title">Food category</h2>

      <p class="category_content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Varius sed pharetra dictum neque massa congue
      </p>
    </div>

  </div>
  <div class="row g-0">
    <div class="col">

      <swiper [config]="config" [navigation]="true" class="home_slider">
          <ng-template swiperSlide>
            <div class="card_product_slide">
              <div class="card_img">
                <img class="img-fluid" src="/assets/images/card_products_dummy.png" alt="">
              </div>
              <h6> Italiano</h6>
              <p>26 item</p>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="card_product_slide">
              <div class="card_img"><img class="img-fluid" src="/assets/images/card_products_dummy.png" alt=""></div>
              <h6>Grand Italiano</h6>
              <p>26 item</p>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="card_product_slide">
              <div class="card_img"><img class="img-fluid" src="/assets/images/card_products_dummy.png" alt=""></div>
              <h6>Grand Italiano</h6>
              <p>26 item</p>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="card_product_slide">
              <div class="card_img"><img class="img-fluid" src="/assets/images/card_products_dummy.png" alt=""></div>
              <h6>Grand Italiano</h6>
              <p>26 item</p>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="card_product_slide">
              <div class="card_img"><img class="img-fluid" src="/assets/images/card_products_dummy.png" alt=""></div>
              <h6>Grand Italiano</h6>
              <p>26 item</p>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="card_product_slide">
              <div class="card_img"><img class="img-fluid" src="/assets/images/card_products_dummy.png" alt=""></div>
              <h6>Grand Italiano</h6>
              <p>26 item</p>
            </div>
          </ng-template>

      </swiper>

    </div>
  </div>

</div>