.mini_banner {
    position: relative;
   .mini_banner_breadcrumb {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   } 
   .breadcrumb_title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 20px;
   }
   .breadcrumb {
    .breadcrumb-item ,
    .breadcrumb-item a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .breadcrumb-item+.breadcrumb-item::before {
        color: white;
        content: var(--bs-breadcrumb-divider, "/");
    }
    .breadcrumb-item.active {
        color: #FF9F0D;
    }
   }
   margin-bottom: 120px;
}