<div class="container  similar_slider">
    <div class="row g-0">
        <div class="col">
            <div class="d-flex align-items-center justify-content-between">
                <h3>Similar Products</h3>
                <div class="similar_slider_arrows d-flex align-items-center"></div>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col">
            <swiper [config]="config" [navigation]="true" class="similar_slider_layout">
                <ng-template swiperSlide>
                    <div class="card_product_slide">
                        <div class="card_img">
                            <img class="img-fluid" src="/assets/images/simlair_card_one.png" alt="">
                            <div class="overlaye">
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-code-compare"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h6> Italiano</h6>
                        <p>26 item</p>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card_product_slide">
                        <div class="card_img"><img class="img-fluid" src="/assets/images/simlair_card_one.png" alt="">
                            <div class="overlaye">
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-code-compare"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h6>Grand Italiano</h6>
                        <p>26 item</p>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card_product_slide">
                        <div class="card_img"><img class="img-fluid" src="/assets/images/simlair_card_one.png" alt="">
                            <div class="overlaye">
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-code-compare"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h6>Grand Italiano</h6>
                        <p>26 item</p>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card_product_slide">
                        <div class="card_img"><img class="img-fluid" src="/assets/images/simlair_card_one.png" alt="">
                            <div class="overlaye">
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-code-compare"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h6>Grand Italiano</h6>
                        <p>26 item</p>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card_product_slide">
                        <div class="card_img"><img class="img-fluid" src="/assets/images/simlair_card_one.png" alt="">
                            <div class="overlaye">
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-code-compare"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h6>Grand Italiano</h6>
                        <p>26 item</p>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card_product_slide">
                        <div class="card_img"><img class="img-fluid" src="/assets/images/simlair_card_one.png" alt="">
                            <div class="overlaye">
                                <ul>
                                    <li><a href="#"><i class="fa-solid fa-code-compare"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h6>Grand Italiano</h6>
                        <p>26 item</p>
                    </div>
                </ng-template>

            </swiper>
        </div>
    </div>
</div>