
ks-carousel {
    flex-direction: row-reverse;

    align-items: start;
    ks-carousel-previews .previews-container {
        flex-direction: column;
    }
    .previews-container > .preview-inner-container {
        display: flex;
        flex-direction: column ;
        justify-content: start;
        align-items: start ;
        flex-wrap: nowrap;
    }


}
