<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ks-carousel [id]="100" [images]="images"></ks-carousel>
        </div>
        <div class="col-md-6">
            <div class="product_layout">

                <div class="product_layout_arrows_row d-flex align-items-center justify-content-between">
                    <div class="product_stock_label btn shadow-none">In stock</div>
                    <div class="product_img_arrow d-flex align-items-center ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>