@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import "~@angular/cdk/overlay-prebuilt.css";

.ks-modal-gallery-backdrop {
    background: #000 !important;
    ;
    opacity: 0.85 !important;
    ;
}

.ks-modal-gallery-panel {
    z-index: 90000 !important;
}

.previews-container>.preview-inner-container {
    display: flex;
    flex-direction: column !important;
    justify-content: start !important;
    align-items: start !important;
    flex-wrap: nowrap;
    width: 132px !important;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 24px;
}

.inside.preview-image {
    width: 100% !important;
    max-width: 100%;
    min-width: 100% !important;
    margin-bottom: 24px;
}



.previews-container {

    .nav-left,
    .nav-right {
        background-color: red;
        display: none;
    }

    .preview-inner-container {
        .inside.preview-image {
            width: 100%;
            border : 2px solid transparent
        }
    }
}

nav.previews-container {
    display: block !important;
    width: fit-content !important;
}

#carousel-container {
    width: 100% !important;
    min-height: 100% !important;
    height: 100% !important;
}

ks-carousel-previews {
    display: block !important;
    width: fit-content !important;
}

main#carousel-container {
    min-height: 100% !important;
    height: 100% !important;
    border-radius: 6px !important;
    overflow: hidden;
    #dots {
        display: none !important;
    }


}

.nav-left .left-arrow-image,
.nav-right .right-arrow-image {
    opacity: 1 !important;
    transition: all .5s;
    background-size: contain;
    background-size: 100% !important;
    background-repeat: no-repeat;
    width: 70px !important;
    display: flex !important;
    align-items: center !important;
}
.nav-right .right-arrow-image {
    background-image: url(assets/images/next-icon.png) !important;
    margin-left: 16px;
}
.nav-left .left-arrow-image {
    background-image: url(assets/images/pre-icon.png) !important;
}

.current-figure {
    img#current-image {
        min-height: 100% !important;
        max-height: 100% !important;
        height: 100% !important;
    }
}
.inside.preview-image.active {
    border: 2px solid #FF9F0D !important;
    border-radius: 6px !important;
    overflow: hidden;
}


@font-face {
    font-family: 'themify_brushregular';
    src: url('/assets/fonts/themify_brush_font-webfont.woff2') format('woff2'),
        url('/assets/fonts/themify_brush_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticabold';
    src: url('/assets/fonts/helvetica-bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/helvetica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaregular';
    src: url('/assets/fonts/helvetica-webfont.woff2') format('woff2'),
        url('/assets/fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Miniver&display=swap');
/* You can add global styles to this file, and also import other style files */

.btn_primary {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    padding: 16px 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 6px;
    background: #195A00;
}

.btn_primary_outline {
    border: 1px solid #195A00;
    font-family: 'Inter', sans-serif;
    padding: 16px 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #195A00;
    border-radius: 6px;
    background: white;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    .navbar-brand {
        width: 109px;
        max-width: 110px;
        margin-right: 94px;
    }

    .nav_icons_layout {
        ul {
            grid-gap: 16px;
        }

        li {
            a {
                width: 24px;
                display: block;
            }
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-family: 'helveticaregular';
            }

            .nav-link.active {
                font-family: 'helveticabold';
            }
        }
    }
}




.products_slider {

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        width: 54px;
        height: 54px;
        background: rgba(25, 90, 0, 0.3);
        border-radius: 4px;
        z-index: 10;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
        background: #195A00;
        top: 53%;
        transform: translateY(50%);
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: 20px;
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        color: white;
    }

    .swiper-button-next {
        right: -70px;
        z-index: 99999;
        position: absolute;
    }

    .swiper-button-prev {
        left: -70px;
        z-index: 99999;
        position: absolute;
    }

}

.app-home-food-slider {
    position: relative;
}


.home_slider {
    position: initial !important;
}

.products_slider {
    position: relative !important;
}

.black_theme {
    app-header {
        header.home {
            background: #0D0D0D;
            position: static;

            #navbarSupportedContent {
                ul {
                    li {
                        a {
                            color: white;
                        }
                    }
                }
            }

            .navbar-brand {
                filter: brightness(0) saturate(100%) invert(98%) sepia(9%) saturate(16%) hue-rotate(241deg) brightness(116%) contrast(100%);
            }
        }
    }
}